/*
	font-family: 'Staatliches', cursive;
	font-family: 'Fredoka', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Roboto', sans-serif;
*/

h1 {
	font-family: 'Roboto', sans-serif;
	background-color: #044469;
}