/*
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.custom-button {
  font-family: 'Roboto', sans-serif;
  background-color: #044469;
  color: #ffffff;
}