/*
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
/*  border: 1px solid red;*/
}

.cardHighlight {
  min-height: 100%;

}

.my-navbar {
  background-color: #ADA0A6;
}

.my-card {
  background-color: rgba(173, 160, 166, 0.2);
}

body {
  background-color: #044469;
}